.notFound {
    color: #ff6060;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.notFound__title {
    font-family: 'Montserrat';
    font-size: 288px;
    font-weight: 700;
    /* line-height: 411px; */
    letter-spacing: 0em;
}

.notFound__txt {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    margin-bottom: 3em;
}

.notFound__link {
    color: #ff6060;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    margin-bottom: 2em;
}

/********************************************************** 
        Responsive avec Media Queries  -   <992px    tablet
***********************************************************/
@media all and (max-width: 993px) {
    .notFound{
        margin: 13em 0;
    }
    .notFound__title {
        font-size: 10em;
    }
}

/********************************************************** 
        Responsive avec Media Queries  -   <576px    mobile
***********************************************************/
@media all and (max-width: 577px) {
    .notFound__title {
        font-size: 6em;
    }
    .notFound__txt {
        font-size: 18px;
        line-height: 142.6%;
        padding: 0 9%;
    }
    .notFound__link {
        font-size: 14px;
        line-height: 142.6%;
    }
}
