.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 40px 100px; */
    margin: 4% 8%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav a {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    color: #ff6060;
}

nav a:first-child {
    /* margin-right: 15%; */
    margin-right: 7%;
}

.activeLink {
    text-decoration-line: underline
}

.notAvtiveLink {
    text-decoration: none;
}

/********************************************************** 
        Responsive avec Media Queries  -   <992px    tablet
***********************************************************/
@media all and (max-width: 993px) {
    .header {
        margin: 4% 2%;
    }


}

/********************************************************** 
        Responsive avec Media Queries  -   <576px    mobile
***********************************************************/
@media all and (max-width: 577px) {



}