.accordLocation {
    width: 46%;
    /* height: 184px; */
    height: auto;
    border-radius: 10px;
    /*centrer*/
    /* margin: 40px auto 0;  */
    margin: 0;
}

.accordLocation-visible {
    background: #ff6060;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 47px;
    position: relative;
    z-index: 1;
}

.accordLocationTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: white;
}

.accordLocation-toggle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #ff6060;
    margin: 0;
    padding: 32px 15px 20px;
    pointer-events: none;
    text-align: left;
    background: #f7f7f7;
    border-radius: 5px;
    opacity: 0;
    /* fermer l'accordéon */
    transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
    margin-top: -10px;
    z-index: -1;
}

.accordLocation-toggle__description {
    font-size: 18px;
    line-height: 142.6%;
}

.accordLocation-toggle__equipments {
    display: flex;
    flex-direction: column;
}

.accordLocation-toggle__equipments__equipment {
    margin-bottom: 0.5em;
}

.animated {
    opacity: 1;
    transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}

.chevron {
    width: 20px;
    /* transform: initial; */
}

.rotate {
    transform: rotate(180deg);
}

.description {
    display: flex;
    justify-content: space-between;
    /* margin: 4% 8%; */
    /* margin: 4% 8% 0; */
    margin: 2.5% 8% 0;
}

/********************************************************** 
        Responsive avec Media Queries  -   <576px    mobile
***********************************************************/
@media all and (max-width: 577px) {
    .description {
        margin: 4% 5%;
        display: block;
    }
    .accordLocation {
        width: auto;
    }
    .accordLocation-visible {
        height: 30px;
    }
    .accordLocation-toggle {
        padding-bottom: 0;
    }
    .accordLocationTitle {
        font-size: 13px;
        line-height: 142.6%;
    }
    .accordLocation-toggle__description {
        padding-bottom: 15px;
    }
    .chevron {
        width: 15px;
    }
    .accordLocation-toggle__description,
    .accordLocation-toggle__equipments {
        /* font-size: 12px;
        line-height: 142.6%; */
        font-size: 12px;
        line-height: 116%;
    }
    .animated {
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .accordLocation-toggle__equipments__equipment {
        margin-bottom: 0;
    }
    ul.accordLocation-toggle__equipments {
        /* margin-top: -20px; */
    }
}
