footer {
    height: 210px;
    background: black;
    text-align: center;
    margin-top: 5rem;
}

.footerCopyright {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    /* text-align: center; */
    color: white;
}

.footerLogo {
    padding: 4em 0 3em 0;
}

/********************************************************** 
        Responsive avec Media Queries  -   <576px    mobile
***********************************************************/
@media all and (max-width: 577px) {
    footer {
        margin-top: 0;
    }
    .footerCopyright {
        font-size: 12px;
        line-height: 142.6%;
    }
    .footerLogo{
        padding-bottom: 1.5em;
    }
}
